@import "../../sass/variables.scss";

.favorites-container {
  padding: 0 1.5rem;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid $light-gray;
  margin-left: 1rem;
  @media screen and (max-width: $break-small) {
    border: none;
    margin-left: none;
    margin-bottom: 2rem;
    padding: 0;
  }
}

.favorites-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.favorite-item {
  margin-bottom: 1rem;
  font-size: 0.75rem;

  span {
    margin-right: 0.75rem;
    color: #4a1bb6;
    font-weight: bold;
  }
}

.open-icon {
  height: 0.75rem;
}
