// COLORS
$light-gray: #dcdcdc;
$accent-blue: #3f01d1;
$accent-pink: #bc4563;
$accent-orange: #e88935;
$accent-green: #00a78d;
$accent-purple: #4a1bb6;
$black: #000000;
$global-radius: 0.4rem;

// MIXINS
@mixin form-style {
  width: 100%;
  border: 2px solid $light-gray;
  border-radius: $global-radius;
  margin-bottom: 1rem;
  padding: 0 1rem;
  // color: $light-gray;
}

@mixin button {
  @include form-style();
  height: 4rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  cursor: pointer;
}
