@import "../../sass/variables.scss";

#root {
  width: 100%;
}

// * {
//   border: 1px solid red;
// }

.layout-container {
  width: 90vw;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 800px;

  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
}
