// * {
//   border: 1px solid blue;
// }

.image-card {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 97px auto;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}